.sidebar {
    width: 250px;
    height: 100vh;
    /* position: fixed; */
    padding: 10px;
    /* background-color: #f2f5f8; */
    background-color: #f0f3f7;
    /* background: #111e88; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2); */
}

.sidebar .logo {
    margin-bottom: 10px;
    text-align: center;
    /* border: 1px solid red; */
}

.sidebar .uploads {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 30px;
}

.sidebar .plus {
    margin-right: 10px;
    margin-top: 3px;
    font-weight: 600;
    font-size: 24px;
}

.sidebar .folder,
.file {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    width: 200px;
    padding: 4px 0px 4px 20px;
    border-radius: 15px;
    margin: 5px 0;
    font-size: 20px;
    cursor: pointer;
}

.sidebar .folder:hover,
.sidebar .file:hover {
    background-color: #c7defd;
}

.sidebar .menu {
    display: flex;
    flex-direction: column;
}

.sidebar .menu .menu-icon {
    font-size: 22px;
    margin-right: 10px;
}

.sidebar .single-menu {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    width: 220px;
    padding: 6px 18px;
    font-size: 17px;
    text-decoration: none;
    border-radius: 16px;
    color: #000;
}

.sidebar .single-menu:hover {
    background-color: #c7defd;
}

.sidebar .single-menu:hover {
    background-color: #c7defd;
}


.sidebar #nav-active {
    background-color: #c7defd;
}








/* share pop-up */

.create-folder {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
}

.create-folder .create-popup {
    width: 400px;
    min-height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
}

.create-folder .create-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.create-folder .create-input input {
    width: 100%;
    outline: none;
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;
}

.create-folder .create-buttons {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
}

.create-folder .create-button {
    padding: 3px 7px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
}

.create-folder .regist-button {
    color: white;
    font-size: small;
    font-weight: 500;
    padding: 2% 3% 2% 3%;
    background-color: rgb(113, 65, 160);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
}

.create-folder .regist-button:hover {
    background-color: rebeccapurple;
}


/*
.create-folder .create-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 20px 0px;
}

.create-folder .single-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.create-folder .single-icon .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.create-folder .single-icon span {
    font-size: 13px;
}

.create-folder .create-close {
    cursor: pointer;
} */